@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

:root {
    --color-pink: #ff00d0;
}
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #242427;
    color: rgba(255, 240, 240, .5);

}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    color: #FFF;
    opacity: 1;
}
h1.chapter {
    position: relative;
    margin-top: 25px;
    padding-left: 15px;
}
h1.chapter::before {
    content: "";
    display: block;
    width: 3px;
    height: 20px;
    background-color: var(--color-pink);
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}

/* Header */
header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
}
.header {
    display: flex;
    gap: 7vw;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: default;
}
.header__logo p {
    margin: 0;
}
.logo {
    height: 30px;
    cursor: pointer;
}
.header__logo > .header__link {
    font-size: 20px;
    cursor: pointer;
    transition: color .1s linear;
}
.header__logo > .header__link::after {
    display: none;
}
.header__logo > .header__link:hover {
    color: var(--color-pink);
}
.header__logo > .logo:hover + .header__link {
    color: var(--color-pink);
}
.header__nav{
    flex-grow: 1;
    display: flex;
    gap: 3vw;
}
.header__link {
    position: relative;
    font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}
.header__link::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	background-color: var(--color-pink);
	opacity: 0;

	transition: opacity .1s linear;
}
.header__link:hover::after {
	opacity: 1;
}

/* Intro */

.hero {
    overflow: hidden;
}
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__text {
    width: auto;
    font-size: 25px;
}
.intro__suptitle {
    text-align: center;
    font-size: .8em;
    margin-top: 150px;
    margin-bottom: 0;
}
.intro__title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.intro__title b {
    color: var(--color-pink);
}
.intro__subtitle {
    font-size: .8em;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 220px;
    position: relative;
}
.picture {
    position: relative;
    width: 500px;
    height: 500px;
}
.picture__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
}
.picture > .glow {
    height: 100vh;
    opacity: .70;
}
.picture > .shapes {
    height: 100%;
}
.picture > .avatar {
    height: 55%;
}
.social {
    display: flex;
    gap: 19px;
}
.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}
.social__icon {
    display: inline-block;
    height: 100%;
    fill: #FFF;

    transition: fill .1s linear;
}
.social__item:hover .social__icon {
    fill: var(--color-pink);
    opacity: 1;
}
.author {
    position: absolute;
    bottom: 0;
    font-size: .7em;
    text-transform: uppercase;
}

/* Dignities */

.dignities {
    display: flex;
    gap: 9vw;
    font-size: 18px;
}
.dignities__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 4vw;;
}
.dignities__item {
    width: 50%;
    max-width: 330px;
    text-align: center;
}
.dignities__icon {
    width: 200px;
    height: auto;
    margin-bottom: 25px;
}
.dignities__title {
    color: #FFF;
    margin-bottom: 10px;
}
.dignities__text {
    font-size: .9em;
}

/* Media */

@media (max-width: 1075px) {
    .dignities {
        display: grid;
        gap: 0;
    }
    .dignities__inner {
        margin-top: 25px;
        justify-content: center;
    }
}
@media (max-width: 915px) {

    /* Header */

    header {
        padding-top: 15px;
    }
    .header__logo > .header__link {
        font-size: 15px;
    }
    .header__nav > .header__link {
        display: none;
    }

    /* Intro */

    .intro__inner {
        flex-direction: column;
    }
    .picture > .glow {
        height: calc(100vh + 65px);
    }
    .intro__text {
        font-size: 15px;
    }
    .intro__suptitle {
        margin-top: 0;
    }
    .intro__subtitle {
        text-align: center;
        padding-left: 0;
        margin: 0;
    }
    .picture {
        width: 300px;
        height: 300px;
        margin: 50px 0;
    }
    .social {
        justify-content: center;
        gap: 55px;
    }
}
@media (max-width: 740px) {
    .dignities__item {
        max-width: 225px;
    }
}
@media (max-width: 440px) {
    .dignities__item {
        width: 100%;
    }
}
